name: build

on:
  push:
    branches:
      - main

jobs:
  build:
    environment: niji.ngrok.dev
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - shell: bash
        env:
          NGROK_API_KEY: ${{ secrets.NGROK_API_KEY }}
          NGROK_ENDPOINT_URL: ${{ secrets.NGROK_ENDPOINT_URL }}
        run: bun run build
